{
  "parser": "babel-eslint",
  "rules": {
      "strict": 0,
      "react/prop-types": 0
  },
  "extends": [
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "15.0"
    }
  }
}
