div.blog-listing-preview,
div.blog-listing-preview-main {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

div.blog-listing-image {
  background-color: rgba(255, 255, 255, 1);
}

div.blog-listing-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 25px;
}

div.blog-listing-container:hover {
  background: rgba(66, 134, 244, 0.3);
  background: rgba(255, 255, 255, 1);
}

div.blog-listing-container:hover div.blog-post-image {
  background-color: rgba(1, 1, 1, 0);
}

h2.date, h4.category, div.blog-listing-container, div.blog-listing-image {
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

h1 > * {
    font-size: 1.2rem;
    text-decoration-line: none;
}
h2 {
    font-size: 0.8rem;
    font-weight: 100;
}

h2.date, h4.category {
  color: #4286f4;
}

h4.blog-category,
h4.blog-category-label {
  color: #aaa;
  display: inline;
}

h4.blog-category:hover {
  color: #4286f4;
}

div.blog-listing-container:hover h2.date,
div.blog-listing-container:hover h4.category {
  color: #41caf4;
}

/**
* Individual Blog Post Page Style
*/

.blog-post-container {
  /* background-color: rgba(255, 255, 255, 0.4);
  padding: 20px; */
}
