.navItem {
  padding: 0px 30px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

h2.nav {
  font-size: 3em;
}

.navItem:hover {
  color: #4e85ad;
}
