
.HeaderLogo
  width: 200px
  max-width: 400px
  margin: 0 auto
  -webkit-transition: all 100ms ease-in-out
  -moz-transition: all 100ms ease-in-out
  -ms-transition: all 100ms ease-in-out
  -o-transition: all 100ms ease-in-out
  transition: all 100ms ease-in-out

div.header-container
  :margin 0 auto
  :max-width 100%
  :padding 1.45rem 1.0875rem
  :align-items center
  :justify-content space-around
  :display flex
  :flex-direction column
  :background white

div.menu-button,
div.filler
  display: none

@media only screen and (max-width: 1200px)
  div.menu-button,
  div.filler
    :flex 1
    :display flex

  .HeaderLogo
    width: 180px
